@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
  --font-family: 'Manrope', sans-serif;
}

* {
  margin: 0;
}

body {
  background: var(--Dark-Blue);
}

.containerApp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containerApp .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 10px;
}

.card {
  padding: 25px;
  text-align: center;
  width: 500px;
}

.card .title {
  color: var(--NeonGreen);
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-bottom: 30px;
  font-family: var(--font-family);
}

.card .title span {
  margin-left: 15px;
}

.card .advice {
  font-family: var(--font-family);
  font-size: 2em;
  font-weight: 800;
  color: var(--LightCyan);
  margin-bottom: 30px;
}

.card img {
  margin-bottom: 30px;
  width: 100%;
}

.btn {
  position: absolute;
  bottom: -25px;
  border-radius: 50%;
  background: var(--NeonGreen);
  border: none;
  outline: none;
  display: inline;
  padding: 15px;
  cursor: pointer;
}

.btn img {
  color: var(--LightCyan);
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.btn:hover {
  box-shadow: 0px 0px 15px var(--NeonGreen);
  transition: box-shadow 1s ease;
}

@media only screen and (max-width: 450px) {
  .card {
    width: 280px;
  }
}
